<div class="projects">
    <a href="<%= $project.caption.link %>" title="<%= $project.caption.title %>" class="caption-link"><img src="<%= $project.caption.img %>" class="caption"/></a>
    <div class="wrapper">
        <div class="tags">
        <% if ($project.tags && $project.tags.length >0) for(var j=0;j<$project.tags.length;j++) {%>
            <span class="tag-game-engine"><%= $project.tags[j] %></span>
        <% } %>
        </div>
        <h2 class="project-title"><%= $project.title %></h2>
        <p><%= $project.description %></p>
        <% if ($project.links && $project.links.length >0) { %>
        <ul>
            <% for(var j=0;j<$project.links.length;j++) { %>
            <li><a href="<%= $project.links[j].href %>" title="<%= $project.links[j].title %>"><%= $project.links[j].label %></a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>